<div class="students-container">
    <h3>Update Student</h3>
    <form (ngSubmit)="updateStudent(studentForm)" #studentForm="ngForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="student.name" required>
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" [(ngModel)]="student.id" required>
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" [(ngModel)]="editedStudent.department">

        <label for="teacherId">Teacher ID:</label>
        <input type="text" id="teacherId" name="teacherId" [(ngModel)]="editedStudent.teacherId">
        <label for="teacherName">Teacher Name:</label>
        <input type="text" id="teacherName" name="teacherName" [(ngModel)]="editedStudent.teacherName">
        <button type="submit">Update</button>
    </form>
</div>

