<div class="container">
  <div class="button-container">
    <button mat-raised-button color="primary" class="button-icon" (click)="goAddTeacher()">Add Teacher</button>
    <button mat-raised-button color="primary" class="button-icon" (click)="goEditTeacher()">Edit</button>
    <button mat-raised-button color="warn" class="button-icon"  (click)="goDeleteTeacher()">Delete</button>
    <button mat-raised-button color="accent" class="button-icon"  (click)="goDetailsTeacher()">Details</button>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="teachers" class="mat-elevation-z8">
     
      <ng-container matColumnDef="teacherId">
        <th mat-header-cell *matHeaderCellDef> Teacher ID </th>
        <td mat-cell *matCellDef="let teacher"> {{ teacher.id }} </td>
      </ng-container>

    
      <ng-container matColumnDef="teacherName">
        <th mat-header-cell *matHeaderCellDef> Teacher Name </th>
        <td mat-cell *matCellDef="let teacher"> {{ teacher.name }} </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let teacher"> {{ teacher.department }} </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let teacher">
          <button mat-raised-button color="primary" class="button-icon"  (click)="goEditSelectedTeacher(teacher)">
            Edit
          </button>
          <button mat-raised-button color="accent" class="button-icon"  (click)="goDetailsSelectedTeacher(teacher)">
            Details
          </button>
          <button mat-raised-button color="warn" class="button-icon"  (click)="goDeleteSelectedTeacher(teacher)">
            Delete 
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
