<div class="teacher-container">
    <h3>Teacher Form</h3>
    <form (ngSubmit)="addTeacher(teacherForm)" #teacherForm="ngForm" ngNativeValidation>
        <label for="teacherName">Name:</label>
        <input type="text" id="teacherName" name="teacherName" [(ngModel)]="newTeacher.name" required>
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" [(ngModel)]="newTeacher.department" required>
        <button type="submit">Add</button>
    </form>
</div>

