<div>
  <div>
    <form class="Teacher-info-form" (ngSubmit)="getTeacherInfo()" #teacherForm="ngForm" ngNativeValidate>
      <div class="form-group">
        <label for="id">Teacher ID:</label>
        <input type="number" required id="id" name="id" [(ngModel)]="teacherId" placeholder="Enter Teacher id" class="form-control" #idInput="ngModel">
        <div *ngIf="idInput.invalid && (idInput.dirty || idInput.touched)" class="text-danger">
          <div *ngIf="idInput.errors?.['required']">
            Teacher ID is required.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Show details Information</button>
    </form> 
  </div> 
  <div class="Teacher-details-container">
      <h3>Teacher Details</h3>
      <div>
        <p><strong>ID:</strong> {{ teacher.id }} </p>
        <p><strong>Name:</strong> {{ teacher.name }}</p>
        <p><strong>Department:</strong>{{ teacher.department }} </p>
      </div>
  </div>
  <div *ngIf="!teacher.id">
    <p>No teacher details available</p>
  </div>
  
    <!-- Students List -->
    <div class="students-list">
        <h4>Students Under Teacher</h4>
        <table class="student-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of studentsUnderTeacher">
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.department }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
