<div class="students-container">
    <h3>Students Form</h3>
    <form (ngSubmit)="addStudent(studentForm)" #studentForm="ngForm">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="newStudent.name" required>
      <label for="id">ID:</label>
      <input type="text" id="id" name="id" [(ngModel)]="newStudent.id">
      <label for="department">Department:</label>
      <input type="text" id="department" name="department" [(ngModel)]="newStudent.department" required>
      
      <label for="teacherId">Teacher ID:</label>
      <input type="text" id="teacherId" name="teacherId" [(ngModel)]="newStudent.teacherId" required>
      <label for="teacherName">Teacher Name:</label>
      <input type="text" id="teacherName" name="teacherName" [(ngModel)]="newStudent.teacherName" required>
      <button type="submit">Add</button>
    </form>
</div>
