.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  text-align: center;
}

.button-container {
  margin-top: 20px;
}

.orange-button {
  background-color: rgb(255, 60, 0) !important;
  color: white !important;
}

.orange-button:hover {
  background-color: rgb(255, 153, 0) !important;
}

.teacher-info-form {
  max-width: 400px;
  margin: 0 auto;
}
.student-details-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
  }
  
  .student-details-container h3 {
    margin-bottom: 10px;
  }
  
  .student-details-container div {
    margin-top: 10px;
  }
  
  .student-details-container p {
    margin: 5px 0;
  }
  
  .student-details-container strong {
    font-weight: bold;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  background-color: #cb4b21;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #b36b00;
}
.teacher-info {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}


.button-icon {
  background-color: #cb4b21; 
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
}

.button-icon:hover {
  background-color: #d59f21; 
}

