.teacher-details-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    height: 80vh; 
  }
  
  .teacher-details-container h3 {
    margin-bottom: 10px;
  }
  
  .teacher-details-container div {
    margin-top: 10px;
  }
  
  .teacher-details-container p {
    margin: 5px 0;
  }
  
  .teacher-details-container strong {
    font-weight: bold;
  }
  
  .students-list {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    float:initial;
    background-color: #ffd8b7;
}

.students-list h4 {
    margin-bottom: 20px;
}

.students-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.students-list th, .students-list td {
    padding: 10px;
    border: 1px solid #ccc;
}

.students-list th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.students-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.students-list tr:hover {
    background-color: #ddd;
}
